a, a:hover {
    color: #fe6213;
}

.navbar-default {
    background: #fe6213;
}

.form-control:focus {
    border-color: #fe6213;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #fe6213;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #fe6213;
}

.service .carousel-indicators .active {
    background: #fe6213;
}

.btn-theme {
    background: #fe6213;
}

.lb-album li > a span {
    background: #fe6213;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, #fe6213));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
}

.lb-overlay {
    background: #fe6213;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, #fe6213));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
    background: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #fe6213 100%);
}